.advantage {
    padding-top:1em;
    padding-left:1em;
    padding-bottom:1em;
    background-color:#393839;
    color:#fff;

    }
    
.advantagecontainer {
    margin-left:24em;
    margin-right:24em;  
    }

@media (max-width: 1024.01px) {
    .advantagecontainer {
    margin-left:2em;
    margin-right:2em;
        }
    }

.advantageintro {
    margin-bottom:2em;
    }

.advantageicon {
    margin-top:1em;
        }
          
.advantageclaim {
    font-weight:800;
        }
    
