.reason-icon {
    margin-top:2em !important;
    }
    
@media (max-width: 767.98px) {
 .reason-icon {
   width:30% !important;
   height:auto;
   }
}
    
.reason {
  font-weight: 800;
  margin-left:2em !important;
  margin-top:2em !important;
    }
    
  .reason-sub {
    margin-left:2em !important;
    }
    
    